/* css styles */

.navbar{
  color: #800020;
  background-color: #800020;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    text-align: center;
}

.title {
  color: #8B7500;
}

.btn {
  display: grid;
  justify-content: center;
}

.btn-primary {
    background-color: #800020;
  --bs-btn-bg: #800020;
  --bs-btn-border-color: #800020;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #800020;
  --bs-btn-hover-border-color: #800020;
  --bs-btn-focus-shadow-rgb: 74, 173, 220;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg:#800020;
  --bs-btn-active-border-color: #800020;
  --bs-btn-active-shadow: inset 0 3px 5px #800020;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #800020;
  --bs-btn-disabled-border-color: #800020;
}

#btnQTE {
  display: none;
}

.header{
  font-size: 30px;
  text-align: center;
  text-indent: -105px;
  color: #8B7500;
}

.odd {
  color: #DBDBDB;
}

.even {
  color: #DBDBDB;
}

.menu-text{
  color: white;
}

.navbar-title{
  color: white;
}

/* Changes Github logo to white in the navbar*/
.bi.bi-github {
  color: white;
}

.bi.bi-youtube{
  color: white;
}

.bi.bi-controller{
  color: white;
}

.bi.bi-camera-fill{
  color: white;
}

.bi.bi-graph-up{
  color: white;
}

.bi.bi-arrow-right{
  color: white;
}

/* Format for HyperLinks*/
a:link{
  color: #8DEEEE;
}

/* Format for HyperLinks*/
a:visited{
  color: brown;
}

/* Format for HyperLinks*/
a:hover{
  color: red;
}

/* Format for HyperLinks*/
a:active{
  color: darkslategray;
}

h1 {
  color: #DBDBDB;
}

h2 {
  color: #DBDBDB;
}

h3 {
  color: #DBDBDB;
}


p {
  text-indent: 40px;
}

p#poetry{
  text-indent: 0px;
}

.card-img-top {
  color: #DBDBDB;
  text-indent: 0px;
}